@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

@font-face {
    font-family: 'cordel';
    src: url(../fonts/Sriracha-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Possion';
    src: url(../fonts/PassionOne-Bold.ttf) format('truetype');
    font-weight: normal;
}

:root {
--padrao: Arial. Verdana, Helvetica, sans-serif;
--destaque:'Possion';
--principal: 'cordel';
}

html, body {
    min-height: 100vh;
    background-color: darkgrey;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--destaque);
    font-size: 10vw;
    font-weight: bold;
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-size: 3.5vw;
    font-family: var(--principal);
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(63, 63, 63);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.404);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.589);
    text-shadow: 1px 1px 0px black;
}

section#img01 {
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
}

section#img02 {
    background-image: url(../imagens/background002.jpg);
   
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;

}